In [1]:
''' 2. Find the variance for the following set of data representing trees in California (heights in
feet):'''
'''3, 21, 98, 203, 17, 9'''

'3, 21, 98, 203, 17, 9'

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Calculating Sample Variance

In [5]:
#Step 1: Add up the numbers in your given data set.
3+21+98+203+17+9

351

In [9]:
#Step 2: Square your answer:
351*351

123201

In [10]:
#divide by the number of items. We have 6 items in our example so
123201/6

20533.5

In [12]:
#Step 3: Take your set of original numbers from Step 1, and square them individually this time:
3*3 +21*21 + 98*98 + 203*203 + 17*17 + 9*9

51633

In [14]:
#Add those numbers (the squares) together:
9 + 441 + 9604 + 41209 + 289 + 81

51633

In [27]:
#Step 4: Subtract the amount in Step 2 from the amount in Step 3.
51,633 –20,533.5 = 31,099.5

SyntaxError: invalid character in identifier (<ipython-input-27-787e73bf933b>, line 2)